@use 'fonts';

:root {
  --c-brand: #e91b23;
  --c-text-accent: #e91b23;
  --c-text-quote: #2c3e50;
  --c-border-dark: #e91b23;
  --back-to-top-color: #e91b23;
  --vp-c-accent: #e91b23;
  --vp-c-accent-bg: #e91b23;
  --content-width: 100%;
  scroll-behavior: smooth;
  --font-family: Roboto, sans-serif;
}
blockquote {
  background-color: #f7fbfd;
}

.sidebar-item {
  color: #5b7082;
}

.sidebar-item.sidebar-heading {
  font-weight: 400;
}
